ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="024f", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="udev-keycool-keyboard.service"
